<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>51劳动节</title>
    <link rel="stylesheet" href="..\assets\css\style.css" />
    <link rel="shortcut icon" href="..\favicon.ico" />
  </head>
  <body>
    <div class="navbox">
      <div class="nav">
        <div class="logo"><a href="..\index.html">五一劳动节</a></div>
        <ul class="menu">
          <li class="item"><a href="..\index.html">主页</a></li>
          <li class="item"><a href=".\introduction.html">介绍</a></li>
          <li class="item"><a href=".\relatedworks.html">相关作品</a></li>
        </ul>
      </div>
    </div>
    <div id="main">
      <section>
        <br />
        <h1>五一劳动节</h1>
      </section>
      <section>
        <h2>相关纪录片：《劳动铸就中国梦》</h2>
        <p>
          6集纪录片《劳动铸就中国梦》以习近平总书记系列讲话精神为指导，特别充分体现习总书记关于劳动的重要论断和社会主义核心价值观的基本精神，以劳动铸就中国梦为主题，以现实问题为导向，以中国故事为基点，突出思想性，体现生动性，增强传播力。通过拍摄可知感的人物故事对“劳动铸就中国梦”这一核心主题进行电视化地表现，劳动是中国人骨子里的气质，也是最接地气的一种行为。本片选取具有时代特征的典型人物，用讲故事的方式，充分运用电视画面、场景、细节等表现方式，展现人物内心的真实情感，讲述普通劳动者的故事。
        </p>
        <br />
        <a href="https://tv.cctv.com/2015/04/28/VIDA1430186773752656.shtml">👉点击前往观看👈</a>
      </section>
      <section>
        <h2>相关音乐：《咱们工人有力量》</h2>
        <p>
          1947年，时年29岁的音乐家马可受到党中央派遣，离开延安，来到了中国最早解放的老工业城市佳木斯，东北大工业波澜壮阔的发展场面，工人阶级豪情满怀的革命激情和斗志，深深地感染了马可，激发了马可的创作灵感，创造出《咱们工人有力量》，它表现出工人们为支援新中国解放，日夜紧张劳动的战斗生活场景，塑造了获得解放的中国工人顶天立地的英雄形象，成为中国人建设祖国的豪迈战歌。
        </p>
        <br />
        <p style="color: blue;">点击下方开始播放👇</p>
        <br />
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="840" height="86" src="https://music.163.com/outchain/player?type=2&id=25841342&auto=1&height=66"></iframe>
        <br />
      </section>
    </div>
  </body>
</html>
